.now{
    font-size: 40px;
    font-weight: bold;
    font-family: arial;
    width: 400px;
    padding-top: 0;
    margin-top: auto;
    background-color: rgb(43, 226, 110);

}

.location{
    font-size: 40px;
    margin-bottom: 15px;
    border: none;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color:blue;
    color: white;
    display: block;
    
}
.destination{
    font-size: 40px;
    margin-bottom: 15px;
    border: none;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: blue;
    color: white;
    display: block;
    
}
.request{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-display: 20px;
    border-radius: 2px;
    margin-right: 10px;
    background: black;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
}
.later{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
    background: pink;
}